<%- include('../templates/top.ejs') %>

<div>
  <h1>Brand: <%= mobileDetail.brand%></h1>
  <h2>Model: <%= mobileDetail.model%></h2>
  <h3>Price: <%= mobileDetail.price%></h3>
  <h4>Spec: <%= mobileDetail.spec%></h4>
</div>

<%- include('../templates/bottom.ejs') %>
